<div class="margin-container">
  <textarea id="main-input"
            maxlength="30000"
            placeholder="Start typing..."
            autofocus
            onmousedown="return false;"
            onclick="this.focus()"
            data-controller="input"
            data-action="keydown->input#doNothing keydown->body#backspaceCheck keyup->body#startTimer keyup->body#checkBreak"
            data-body-target="input"
            data-input-target="input"></textarea>
</div>

<!-- Info Modal -->
<div id="infoModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">

    <div class="modal-content modal-main">

      <div class="modal-header">
        <h1 class="modal-title">20 Minutes of Crap</h1>
        <button type="button" class="close" data-bs-dismiss="modal"><i class="fa-solid fa-square-xmark fa-2x"></i></button>
      </div>

      <div class="modal-body">
        <p><strong>Welcome to 20 Minutes of Crap!</strong> This app is designed to help you improve your writing skills and break through writer's block. It's based on the idea that the best way to improve your writing is to just start writing, even if it's not perfect at first.
        <p><strong>Here's how it works:</strong></p>
        <p>Whenever you’re ready, you can start typing to begin the timer. The backspace key is disabled by default, but you can choose to allow yourself to delete up to one word. Don't worry about the quality or accuracy of your writing – the goal is to get your thoughts down on paper and become a more confident writer.</p>
        <p>At the end of the 20 minutes, you'll be given a score based on how much time you spent typing (breaks of under 5 seconds aren't counted).</p>
        <p>Give it a try and see how much you can improve in just 20 minutes!</p>

      </div>

    </div>

  </div>
</div>

<!-- Finish Modal -->
<div id="finishModal" class="modal fade" role="dialog" data-body-target="finishModal">
  <div class="modal-dialog modal modal-dialog-centered">

    <div class="modal-content modal-main">

      <div class="modal-header">
        <h1 class="modal-title">Time's up!</h1>
        <!-- for some readon, data-bs-dismiss="modal" doesn't work on this button. -->
        <button type="button" class="close" data-bs-toggle="modal"><i class="fa-solid fa-square-xmark fa-2x"></i></button>
      </div>

      <img src="/no-medal.png" class="modal-image" data-body-target="modalImage">

      <div class="modal-body" data-body-target="finishContent">
        <p>If you're seeing this text, something went wrong!</p>
      </div>

      <div class="buttons-container">
        <button type="button" class="close modal-button" data-bs-toggle="modal">Keep writing</button>
        <button type="button" class="modal-button" data-action="click->body#copy">Copy text</button>
        <button type="button" class="modal-button" onClick="window.location.reload();">Start again</button>
      </div>

      <p class="github-container"><a href="https://github.com/gloyens" target="blank" class="link">my Github</a></p>

    </div>

  </div>
</div>
