<div class="margin-container">
  <textarea id="main-input"
            maxlength="30000"
            autofocus
            onmousedown="return false;"
            onclick="this.focus()"
            data-controller="input"
            data-action="keydown->input#doNothing"></textarea>
</div>
