<div class="margin-container">
  <textarea id="main-input"
            maxlength="30000"
            placeholder="Start typing..."
            autofocus
            onmousedown="return false;"
            onclick="this.focus()"
            data-controller="input"
            data-action="keydown->input#doNothing keydown->body#backspaceCheck keyup->body#startTimer keyup->body#checkBreak"
            data-body-target="input"
            data-input-target="input"></textarea>
</div>

<!-- Info Modal -->
<div id="infoModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">

    <div class="modal-content modal-main">

      <div class="modal-header">
        <h1 class="modal-title">20 Minutes of Crap</h1>
        <button type="button" class="close" data-bs-dismiss="modal"><i class="fa-solid fa-square-xmark fa-2x"></i></button>
      </div>

      <div class="modal-body">
        <p><strong>Welcome to 20 Minutes of Crap!</strong> This app is designed to help you improve your writing skills and break through writer's block. It's based on the idea that the best way to improve your writing is to just start writing, even if it's not perfect at first.
        <p><strong>Here's how it works:</strong></p>
        <p>Whenever you’re ready, you can start typing to begin the timer. Remember: the backspace key is disabled, so you'll need to keep writing without stopping or editing. The goal is to write continuously for the full 20 minutes.</p>
        <p>As you write, let your ideas flow and don't worry about the quality or correctness of your writing. The point is to get your thoughts down on paper and become a more confident writer. At the end of the 20 minutes, you'll be given a score based on how much time you spent typing.</p>
        <p>Give it a try and see how much you can improve in just 20 minutes!</p>
      </div>

    </div>

  </div>
</div>

<!-- Finish Modal -->
<div id="finishModal" class="modal fade" role="dialog" data-body-target="finishModal">
  <div class="modal-dialog modal modal-dialog-centered">

    <div class="modal-content modal-main">

      <div class="modal-header">
        <h1 class="modal-title">Time's up!</h1>
        <!-- for some readon, data-bs-dismiss="modal" doesn't work on this button. -->
        <button type="button" class="close" data-bs-toggle="modal"><i class="fa-solid fa-square-xmark fa-2x"></i></button>
      </div>

      <div class="modal-body" data-body-target="finishContent">
        <p>This is a modal to show that the timer has ended. It works!</p>
        <h4>IT WORKS!!!</h4>
      </div>

    </div>

  </div>
</div>
