// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

@import "input";
@import "containers";
@import "scrollbar";
@import "tooltips";

body {
  margin: 0;
  padding: 0;
  background-color: $beige;
}

* {
  // border: 1px solid red;
  box-sizing: border-box;
}
