.modal-main {
  background-color: $beige;
  border: none;
  border-radius: 5px;

  padding: 24px 36px;

  p { font-size: 16px; }
}

.modal-header {
  border: none;
  // align-items: flex-start;
  button {
    position: absolute;
    top: 20px;
    right: 16px;
  }
}

.close {
  color: $dark-beige;
  background-color: transparent;
  border: none;

  &:hover {
    color: $darker-beige;
  }
}


.modal-button {
  display: flex;
  background-color: $darker-beige;
  color: white;
  padding: 8px 16px;
  margin: 4px;
  border: none;
  border-radius: 6px;
  font-family: Verdana, Tahoma, sans-serif;

  &:hover {
    background-color: $darkest-beige;
    color: white;
  }
}
// .modal-backdrop {
//   background-color: $darker-beige;
// }
