.navbar-lewagon {
  justify-content: space-between;
  background: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-icons {
  padding: 16px;
  padding-right: 0;
}
